.tweet-wrapper {
  border: 1px solid black;
  padding: 1rem;
  max-width: 600px;
  font-size: larger;
}

.like-createdAt-wrapper {
  display: flex;
  justify-content: space-between;
}

.likes,
.created-at {
  font-size: xx-small;
}

.tweet-content {
  margin-bottom: 1rem;
}
